body{
    background-color: #FFF7E6;
}

h1{
  font-family: 'Nexa Heavy', sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.7rem); 
}

#faq{
    width: 75vw;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.faq-header{
  width: 75vw;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;;
}

#coderpillar-thinking{
    width: 20vw;
    max-width: 500px;
}

hr{
    height: px;
    background-color: #12263A; /* Dark blue color */
}

details{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

details {
  background-color: #FFECC2;
  background-color: #FFC085;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

summary {
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

details[open] {
  background-color: #FFC085;
  background-color: #FFECC2;
}

@media (max-width: 700px){
  h1{
    font-size: 6vw; /* updated for smaller screens */
    line-height: 1;
  }

  #faq{
    width:85vw
  }

  .faq-header{
    width: 85vw;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #coderpillar-thinking{
    width: 50vw;
    max-width: 100%;
  }
}